/* Styles */
  html,body {
  height:100%;
  margin:0;
}

#container {
  height:100%;
  min-height:100%;/*for mozilla*/
background-color: aqua;
}

html>body #container {
  height:auto;
}

#container {
    max-height:100%;
    max-width:100%;
}

.a {
    width: 15px;
    height:25px;
    background-image: url('fakecursor.png');
    position:fixed;
    
}